@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    background: linear-gradient(90deg,#00d2ff 0%,#3a47d5 100%);
    color: #FFFFFF;

}

h1{
    font-family: 'montserrat';
    font-size: 40px;
    text-align: center;
    margin-top: 20%;
    font-weight: 400;
}

span{
    color: #1f1f1f;
    font-size: 100px;
    font-weight: 900;
}

p{
    text-align: center;
    margin-top: -20px;
    font-family: 'montserrat';
    font-size: 20px;
    letter-spacing: 2px;
}